{% extends 'base.html.twig' %}

{% block title %}Category - {{ category }}{% endblock %}

{% block body %}
    <h2>{{ category }}</h2>

    {% if products|length > 0 %}
        <div>There are {{ products|length }} products.</div>

        {% for product in products %}
            {% if product.image %}
                <img src="{{ asset('uploads/photos/' ~ product.image) }}" />
            {% endif %}

            <h4><a href="{{ path('product', { id: product.id }) }}">{{ product.name }}</a></h4>
            <small>
                {{ product.createdAt|format_datetime('medium', 'short') }}
            </small>

            <p>{{ product.description }}</p>
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('category', { slug: category.slug, offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < products|length %}
            <a href="{{ path('category', { slug: category.slug, offset: next }) }}">Next</a>
        {% endif %}
    {% else %}
        <div>No product in this category yet</div>
    {% endif %}
{% endblock %}