{% extends 'base.html.twig' %}

{% block title %}All Products
	{# {{ category }} #}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
		<ul class="nav">
			<a class="nav-link disabled">filter by Category:</a>
			{% for category in categories %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('products', { cat: category.id }) }}">{{ category }}</a>
				</li>
			{% endfor %}
		</ul>
		{{ form(search) }}
		</div>
		<h1 class="mt-3 mb-4">All Products</h1>
		<div class="row">
			{% if products|length > 0 %}
				<div>There are
					{{ products|length }}
					products.</div>
				{% for product in products %}
					<div class="col-md-4 col-lg-3">
						<div class="card mb-4">
							{% if product.image %}
								<img src="{{ asset('/images/product/' ~ product.image) }}" alt="{{ product.name }}" class="card-img-top">
							{% endif %}
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{ path('product', { id: product.id }) }}">{{ product.name }}</a>
								</h5>
								<p class="card-text">{{ product.description|length > 50 ? product.description|slice(0, 50) ~ '...' : product.description  }}</p>
								<div class="d-flex justify-content-between align-item-center">
									<a href="{{ path('product', { id: product.id }) }}" class="btn btn-dark">View details</a>
									<span class="h5 mt-auto">{{ product.price }}
										€</span>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				{# {% if pageSize < products|length %}
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end">
							<li class="page-item {% if previous < 0 %}disabled{% endif %}">
								<a class="page-link" href="{{ path('category', { slug: category.slug, offset: previous }) }}" {% if previous < 0 %}tabindex="-1" aria-disabled="true"{% endif %}>Previous</a> 
							</li>
							{% for key,value in pagination %}
							<li class="page-item {% if param == value %}active{% endif %}">
								<a class="page-link" href="{{ path('category', { slug: category.slug, offset: value }) }}">{{key}}</a>
							</li>
							{% endfor %}
							<li class="page-item {% if next >= products|length %}disabled{% endif %}">
								<a class="page-link" href="{{ path('category', { slug: category.slug, offset: next }) }}" {% if next >= products|length %} tabindex="-1" aria-disabled="true" {% endif %}>Next</a>
							</li>
						</ul>
					</nav>
				{% endif %} #}
			{% else %}
				<div>No product</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
