{% extends 'base.html.twig' %}

{% block title %}Product -
	{{ product }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-3 mb-4">
			<div class="col-md-4">
				<img src="{{ asset('/images/product/' ~ product.image) }}" alt="{{ product.name }}" class="img-fluid">
			</div>
			<div class="col-md-8">
				<h1 class="mt-4 mt-md-0">{{ product.name }}</h1>
				<h2>{{ product.price }}
					€</h2>
				<hr>
				<b>Description:
				</b>
				{{ product.description }}
				{{ form_start(formAdd, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
					<div class="form-group">
						{{ form_label(formAdd.quantity) }}
						{{ form_widget(formAdd.quantity, {
							'attr': {
								'class': 'form-control ' ~ (formAdd.quantity.vars.valid ? '' : 'is-invalid')
							}
						}) }}
						<div class="invalid-feedback">
							{{ form_errors(formAdd.quantity) }}
						</div>
					</div>
					{{ form_widget(formAdd.add, {'attr': {'class': 'btn btn-warning w-25 mt-3'}}) }}
				{{ form_end(formAdd) }}

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row mt-3 mb-4">

	{% if comments|length > 0 %}
		<div>There are
			{{ comments|length }}
			comments.</div>

		{% for comment in comments %}

			{% if comment.photoFilename %}
				<img src="{{ asset('uploads/comments/photos/' ~ comment.photoFilename) }}"/>
			{% endif %}

			<h4>{{ comment.author }}</h4>
			<small>
				{{ comment.createdAt|format_datetime('medium', 'short') }}
			</small>

			<p>{{ comment.text }}</p>
		{% endfor %}

		{% if previous >= 0 %}
			<a href="{{ path('product', { id: product.id, offset: previous }) }}">Previous</a>
		{% endif %}
		{% if next < comments|length %}
			<a href="{{ path('product', { id: product.id, offset: next }) }}">Next</a>
		{% endif %}
	{% else %}
		<div>No comments for this product yet</div>
	{% endif %}

	<h2>Add your own feedback</h2>

	{# Displaying the form in the template can be done via the form Twig function #}
	{{ form(comment_form) }}
	
	</div>
	</div>

	{# read and display just one flash message type #}
	{% for message in app.flashes('notice') %}
		{{ include('partial/_toast.html.twig', {
			title: 'Success!',
			message: message
		}) }}
		{% endfor %}
	{% endblock %}
